*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Open Sans', sans-serif;
    background-color:cornsilk;
}
.header nav{
    background-color: #333;
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.nav >a{
    color: #fff;
    text-decoration: none;
}

.container-1{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 80%;
    grid-template-areas: 
    "titulo videos"
    "imagen videos";

    margin-top:30px ;
}
.titulo{
    grid-area: titulo;
    height: 20%;
    text-align: center;
    
}
.img{
    width: 100%;
    height: 100%;
    grid-area: imagen;
}

.container-videos{
    padding-left: 10px;
    grid-area: videos;
    
    
}

.container-videos-1{
    
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.bloque-1{
    
    display: flex;
    flex-direction: row;
}
.video{
   padding-left: 10px;
   width: 50%;}

.texto{
    width: 50%;
    text-align: center;
}



/* Grid Circulo */
.title2{

    margin-top: 80px;
    background-color: blue;
    text-align: center;
    color: #fff;
}


.grid-circulo{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20% 15% 15% 50%;
    grid-template-areas: 
    "cabe content-1 content-2"
    "cabe sidebar sidebar "
    "cabe sidebar2 sidebar2"
    "footer footer footer";
  }
  
  .cabe{
    grid-area: cabe;  
    /* background-color: royalblue; */
    text-align: center;
    padding-top: 30px;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    color: #fff;
   
    
    
  }
  
  .content-1{
    grid-area: content-1;
    text-align: justify;
    padding-top: 30px;
    background-color: #333;
    border-radius: 10px 0px 0px 10px;
    color: #fff;
    
  }
  .content-2{
    grid-area: content-2;
    text-align: justify;
    padding-top: 30px;
    background-color: #333;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
  }
  .Sidebar{
    grid-area: sidebar;
    /* background-color: slategray; */
    text-align: center;
    padding-top: 30px;
    margin-top: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    
    
    
    
  }
  .Sidebar-2{
    grid-area: sidebar2;
    /* background-color: teal; */
    text-align: center;
    padding: 30px 0 ;
    background-color: #333;
    color: #fff;
    margin-top: 10px;
    border-radius: 10px 10px 10px 10px;
    

    
  }
  .footer{
    color: #fff;
    grid-area: footer;
    margin-top: 10px;
    /* background-color: red; */
    text-align: center;
    font-style: italic;
    padding-top: 30px;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    
 
  }

.text-circulo{
padding: 0 30px;
}
.img-circulo{
width: 100px;
}
.img-ebook{
height: 80%;
padding-top: 30px;
}
  



/* GRID CUADRADO */




.grid-cuadrado{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    "cabe1 content3 content4"
    "cabe1 sidebar3 sidebar3 "
    "cabe1 sidebar4 sidebar4"
    "footer1 footer1 footer1";
}
.cabe1{
    grid-area: cabe1;  
    text-align: center;
    padding-top: 30px;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    color: #fff;
    

    
  }
  
  .content-3{
    grid-area: content3;
    text-align: justify;
    padding-top: 20px;
    background-color: #333;
    border-radius: 10px 0px 0px 10px;
    color: #fff;
    

  }
  .content-4{
    grid-area: content4;
    text-align: justify;
    padding-top: 20px;
    background-color: #333;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
  }
    
    
    
  
  .Sidebar-3{
    grid-area: sidebar3;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333;
    margin-top: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
     }
.Sidebar-4{
    grid-area: sidebar4;
    text-align: center;
    padding: 30px 0 ;
    border: solid 2px #333;
    margin-top: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    
    
  }
.footer1{
    grid-area: footer1;
    margin-top: 20px;
    text-align: center;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    height: 200px;
  }

.img-cuadrado{
width:90%;
}
.text-cuadrado{
padding: 0 30px;

}
.img-baldor{
    margin: 10px;
    width: 100px;
}


/* Triangulo Areas */
.title3{

    margin-top: 180px;
    background-color: blue;
    text-align: center;
    color: #fff;
}
.grid-triangulo{
    margin-top: 40px;
    display: grid;
    grid-auto-columns: 20% 40% 40%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    "cabe2 content5 content6"
    "cabe2 sidebar5 sidebar5 "
    "cabe2 sidebar6 sidebar6"
    "footer2 footer2 footer2";

}
.cabe2{
    grid-area: cabe2;
    text-align: center;
    padding-top: 30px;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    color: #fff;
}
.content-5{
    grid-area: content5;
    text-align: justify;
    padding-top: 20px;
    background-color: #333;
    border-radius: 10px 0px 0px 10px;
    color: #fff;
}
.content-6{
    grid-area: content6;
    text-align: justify;
    padding-top: 20px;
    background-color: #333;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
  }

.Sidebar-5{
    grid-area: sidebar5;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333;
    margin-top: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
}
.Sidebar-6{
    grid-area: sidebar6;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333;
    margin-top: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    
}
.footer-2{
    margin-top: 20px;
    grid-area: footer2;
    text-align: center;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    color: #fff;
    height: 160px;
    
}

.img-triangulo{
    width: 90%;
}
.text-triangulo{
    padding: 0 30px;
}
.img-placer{
 
    margin: 10px;
    width: 120px;
}

/* AREA RECTANGULO */

.title4{

    margin-top: 120px;
    background-color: blue;
    text-align: center;
    color: #fff;
}
.grid-rectangulo{
    margin-top: 40px;
    display: grid;
    grid-auto-columns: 20% 40% 40%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    "cabe3 content7 content8"
    "cabe3 sidebar7 sidebar7 "
    "cabe3 sidebar8 sidebar8"
    "footer3 footer3 footer3";

}
.cabe3{
    grid-area: cabe3;
    text-align: center;
    padding-top: 30px;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
    color: #fff;
}
.content-7{
    grid-area: content7;
    text-align: justify;
    padding-top: 20px;
    background-color: #333;
    border-radius: 10px 0px 0px 10px;
    color: #fff;
}
.content-8{
    grid-area: content8;
    text-align: justify;
    padding-top: 20px;
    background-color: #333;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
  }

.Sidebar-7{
    grid-area: sidebar7;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333;
    margin-top: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
}
.Sidebar-8{
    grid-area: sidebar8;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333;
    margin-top: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    
}
.footer-3{
    margin-top: 20px;
    grid-area: footer3;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    background-color: #333;
    border-radius: 10px 10px 10px 10px;
    height: 160px;
    
}

.img-rectangulo{
    width: 90%;
}
.text-rectangulo{
    padding: 0 30px;
}
.img-lumbreras{
 
    margin: 10px;
    width: 120px;
}



/* FOOTER FINAL */
.footer-final{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 20px 0;
   

}

.Informacion{
    color: #fff;
    
}
.Informacion > a{
    text-decoration: none;
    color: #fff;
}
.Redes-Sociales >a{
    text-decoration: none;
    color: #fff;
    

    
}








@media screen and (min-width:1024px){
    .header nav{
        background-color: #333;
        height: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }

    .nav >a{
        color: #fff;
        text-decoration: none;
    }

    .container-1{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 10% 80%;
        grid-template-areas: 
        "titulo videos"
        "imagen videos";
        
    
    }
    .titulo{
        grid-area: titulo;
        text-align: center;
    }
    .img{
        width: 100%;
        height: 100%;
        grid-area: imagen;
    }
    
    .container-videos{
        grid-area: videos;
        padding-left: 10px;
        
    }
    
    .container-videos-1{
        
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
    
    .bloque-1{

        display: flex;
        flex-direction: row;
    }
    .video{
       width: 50%;
       padding-left: 10px;}
    
    .texto{
        width: 50%;
        text-align: center;
        padding-top: 30px;
    }


    /* Grid circulo */
    .title2{
        
        background-color:blue;
        text-align: center;
        color: #fff;
        margin-bottom: 40px;
    }

    .grid-circulo{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 30% 35% 35%;
        grid-template-areas:
        "cabe content-1 content-2 footer"
        "cabe sidebar sidebar footer "
        "cabe sidebar2 sidebar2 footer"      
      }

      .cabe{
        grid-area: cabe;     
      }
      
      .content-1{
        grid-area: content-1;
       
      }

      .content-2{
        grid-area: content-2;  
        
      }

      .Sidebar{
        grid-area: sidebar;
        border: solid 1px black;
      }

      .Sidebar-2{
        grid-area: sidebar2;
        border: solid 1px black;
        margin-bottom: 20px;
        
      }
      .footer{
        grid-area: footer;
        margin-left: 10px;
        margin-top: 0;
      }
    


    
    /* GRID CUADRADO */
.grid-cuadrado{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "cabe1 content3 content4 footer1"
    "cabe1 sidebar3 sidebar3 footer1"
    "cabe1 sidebar4 sidebar4 footer1"
    ;
}
.cabe1{
    grid-area: cabe1;  
    
    text-align: center;
    padding-top: 30px;
    
    

    
  }
  
  .content-3{
    grid-area: content3;
    text-align: justify;
    padding-top: 20px;
    

  }
  .content-4{
    grid-area: content4;
    text-align: justify;
    padding-top: 20px;
    
    
    
  }
  .Sidebar-3{
    grid-area: sidebar3;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333
    
   
    
  }
.Sidebar-4{
    grid-area: sidebar4;
    text-align: center;
    padding: 30px 0 ;
    border: solid 2px #333
    
    
  }
.footer1{
    grid-area: footer1;
    margin-top: 0;
    margin-left: 10px;
    height: 100%;
   
  }

.img-cuadrado{
width:70%;
}
.text-cuadrado{
padding: 20px 30px;
}
.img-baldor{
    height: 70;
    width: 60%;
}

/* Area del triangulo */
.grid-triangulo{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "cabe2 content5 content6 footer2"
    "cabe2 sidebar5 sidebar5 footer2"
    "cabe2 sidebar6 sidebar6 footer2";

}
.cabe2{
    grid-area: cabe2;
    text-align: center;
    padding-top: 30px;
}
.content-5{
    grid-area: content5;
    text-align: justify;
    padding-top: 20px;
}
.content-6{
    grid-area: content6;
    text-align: justify;
    padding-top: 20px;
}
.Sidebar-5{
    grid-area: sidebar5;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333
}
.Sidebar-6{
    grid-area: sidebar6;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333
    
}
.footer-2{
    margin-top: 0;
    margin-left: 10px;
    grid-area: footer2;
    text-align: center;
    height: 100%;
    
}

.img-triangulo{
    width: 90%;
}
.text-triangulo{
    padding: 0 30px;
}
.img-placer{
 
    margin-top: 60px;
    height: 60%;
    width: 70%;
}


/* Area del Rectangulo */
.title4{

    margin-top: 120px;
    background-color:blue;
    text-align: center;
    color: #fff;
}
.grid-rectangulo{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 30% 30% 20%;
    grid-template-rows: repeat(3,1fr);
    grid-template-areas: 
    "cabe3 content7 content8 footer3"
    "cabe3 sidebar7 sidebar7 footer3"
    "cabe3 sidebar8 sidebar8 footer3"
    ;

}
.cabe3{
    grid-area: cabe3;
    text-align: center;
    padding-top: 30px;
}
.content-7{
    grid-area: content7;
    text-align: justify;
    padding-top: 20px;
}
.content-8{
    grid-area: content8;
    text-align: justify;
    padding-top: 20px;
}
.Sidebar-7{
    grid-area: sidebar7;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333
}
.Sidebar-8{
    grid-area: sidebar8;
    text-align: center;
    padding-top: 30px;
    border: solid 2px #333
    
}
.footer-3{
    margin-top: 20px;
    grid-area: footer3;
    text-align: center;
    height: 100%;
    margin-top: 0;
    margin-left: 10px;
    
}

.img-rectangulo{
    width: 90%;
}
.text-rectangulo{
    padding: 0 30px;
}
.img-lumbreras{
 
    margin: 30px;
    width: 60%;
}


}