*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Open Sans', sans-serif;
}
.header nav{
    background-color: #333;
    height: 30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}

.nav >a{
    color: #fff;
    text-decoration: none;
}

.container-1{
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 40% 80%;
    grid-template-areas: 
    "titulo videos"
    "imagen videos";

    margin-top:30px ;
}
.titulo{
    grid-area: titulo;
    height: 20%;
    text-align: center;
    
}
.img{
    width: 100%;
    height: 100%;
    grid-area: imagen;
}

.container-videos{
    padding-left: 10px;
    grid-area: videos;
    
    
}

.container-videos-1{
    
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.bloque-1{
    
    display: flex;
    flex-direction: row;
}
.video{
   padding-left: 10px;
   width: 50%;}

.texto{
    width: 50%;
    text-align: center;
}



/* Grid Circulo */
.title2{

    margin-top: 80px;
    background-color: #333;
    text-align: center;
    color: #fff;
}


.grid-circulo{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 20% 15% 15% 50%;
    grid-template-areas: 
    "cabe content-1 content-2"
    "cabe sidebar sidebar "
    "cabe sidebar2 sidebar2"
    "footer footer footer";
  }
  
  .cabe{
    grid-area: cabe;  
    /* background-color: royalblue; */
    text-align: center;
    padding-top: 30px;
    
  }
  
  .content-1{
    grid-area: content-1;
    text-align: justify;
    padding-top: 30px;
    background-color: #333;
    color: #fff;
    
  }
  .content-2{
    grid-area: content-2;
    text-align: justify;
    padding-top: 30px;
    background-color: #333;
    color: #fff;
  }
  .Sidebar{
    grid-area: sidebar;
    /* background-color: slategray; */
    text-align: center;
    padding-top: 30px;
    
    
    
    
  }
  .Sidebar-2{
    grid-area: sidebar2;
    /* background-color: teal; */
    text-align: center;
    padding: 30px 0 ;
    border: solid 2px rgb(15, 2, 2)
    

    
  }
  .footer{
    grid-area: footer;
    margin:0;
    /* background-color: red; */
    text-align: center;
    font-style: italic;
    padding-top: 30px;
 
  }

.text-circulo{
padding: 0 30px;
}
.img-circulo{
width: 100px;
}
.img-ebook{
height: 80%;
padding-top: 30px;
}
  



/* GRID CUADRADO */
.grid-cuadrado{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: repeat(4,1fr);
    grid-template-areas: 
    "cabe1 content3 content4"
    "cabe1 sidebar3 sidebar3 "
    "cabe1 sidebar4 sidebar4"
    "footer1 footer1 footer1";
}
.cabe1{
    grid-area: cabe1;  
    background-color: royalblue;
    text-align: center;
    padding-top: 30px;
    
    

    
  }
  
  .content-3{
    grid-area: content3;
    text-align: justify;
    padding-top: 20px;
    background-color: #333;

  }
  .content-4{
    grid-area: content4;
    text-align: justify;
    padding-top: 20px;
    background-color: blue;
    
    
  }
  .Sidebar-3{
    grid-area: sidebar3;
    text-align: center;
    padding-top: 30px;
    background-color:chartreuse;
   
    
  }
.Sidebar-4{
    grid-area: sidebar4;
    text-align: center;
    padding: 30px 0 ;
    border: solid 2px rgb(15, 2, 2)
    
    
  }
.footer1{
    grid-area: footer1;
    background-color: red;
  }

.img-cuadrado{
width:90%;
}
.text-cuadrado{
padding: 0 30px;
}















@media screen and (min-width:1024px){
    .header nav{
        background-color: #333;
        height: 30px;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content:space-evenly;
    }

    .nav >a{
        color: #fff;
        text-decoration: none;
    }

    .container-1{
        display: grid;
        grid-template-columns: 70% 30%;
        grid-template-rows: 10% 80%;
        grid-template-areas: 
        "titulo videos"
        "imagen videos";
        
    
    }
    .titulo{
        grid-area: titulo;
        text-align: center;
    }
    .img{
        width: 100%;
        height: 100%;
        grid-area: imagen;
    }
    
    .container-videos{
        grid-area: videos;
        padding-left: 10px;
        
    }
    
    .container-videos-1{
        
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
    
    .bloque-1{

        display: flex;
        flex-direction: row;
    }
    .video{
       width: 50%;
       padding-left: 10px;}
    
    .texto{
        width: 50%;
        text-align: center;
        padding-top: 30px;
    }


    /* Grid circulo */
    .title2{
        
        background-color: rgb(70, 39, 39);
        text-align: center;
        color: #fff;
        margin-bottom: 40px;
    }

    .grid-circulo{
        margin-top: 10px;
        display: grid;
        grid-template-columns: 20% 30% 30% 20%;
        grid-template-rows: 30% 35% 35%;
        grid-template-areas:
        "cabe content-1 content-2 footer"
        "cabe sidebar sidebar footer "
        "cabe sidebar2 sidebar2 footer"      
      }

      .cabe{
        grid-area: cabe;     
      }
      
      .content-1{
        grid-area: content-1;
        background-color: red;
      }

      .content-2{
        grid-area: content-2;  
        background-color: red;
      }

      .Sidebar{
        grid-area: sidebar;
        border: solid 1px black;
      }

      .Sidebar-2{
        grid-area: sidebar2;
        border: solid 1px black;
        margin-bottom: 20px;
        
      }
      .footer{
        grid-area: footer;
      }
    
    




}