* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-image: url(/assets/fondo-body.jpg);
}

@media (min-width: 280px) {
  h1 {
    font-size: 20px;
    text-align: center;
    color: #fff;
  }
  h2 {
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  p {
    text-align: center;
    font-size: 12px;
    color: #fff;
  }
  input[type='submit'] {
    box-shadow: 0 0.25rem 0.5rem 0.125rem #20232a;
    border: #20232a solid 1px;
    background-color: #fff;
    border-radius: 14px;
    font-size: 9px;
    padding: 5px;
    font-weight: bold;
  }
  input[type='number'] {
    box-shadow: 0 0.25rem 0.5rem 0.125rem #20232a;
    border: #20232a solid 1px;
    background-color: #fff;
    border-radius: 10px;
    font-size: 10px;
    padding: 5px;
    font-weight: bold;
    max-width: 170px;
  }
  label {
    color: #fff;
    font-size: 10px;
  }
  form {
    max-width: 310px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .form-column {
    flex-direction: column;
  }
  .result {
    padding: 5px;
    font-size: 14px;
    border-radius: 20px;
    height: 100%;
  }
  .result:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 375px) {
  input[type='submit'] {
    font-size: 14px;
  }
  input[type='number'] {
    font-size: 14px;
  }
  label {
    font-size: 14px;
  }
}
@media (min-width:1024px){

  h1{
    font-size: 60px;
  }
  h2{
    font-size: 40px;
  }
  p{
    font-size: 18px;
  }
  input[type=submit]{
    font-size: 18px;
    padding: 10px;
  }
  input[type=number]{
    max-width: 400px;
   padding: 10px;
    font-size: 18px;
  }
  label{
    font-size: 18px;
  }
  form{
    max-width: 480px;
  }
  .result{
    padding: 10px;
    font-size: 18px;

  }
}
